PORT=3000

MERCADO_PAGO_ACCESS_TOKEN=TEST-5501735705376326-112320-19bf2f3e8e6c1978d4ff86cf67a723f6-776186295
MERCADO_PAGO_PUBLIC_KEY=TEST-b3a2a4af-ce0b-442e-80cc-978e780b59ad

BASE_URL=http://localhost:3000
DOWNLOAD_TOKEN_EXPIRY_HOURS=24

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=seuemail@gmail.com
SMTP_PASS=sua_app_password_16_chars
EMAIL_FROM="Sua Loja <seuemail@gmail.com>"

ADMIN_USER=admin
ADMIN_PASS=123456
